.sidebar {
    width: 74px;
    min-width: 74px;
    height: 100vh;
    box-sizing: border-box;

    background: var(--sidebar);
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;

    transition:
        width 0.25s ease,
        min-width 0.25s ease;

    overflow: hidden;
}

.sidebar.open {
    width: 250px;
    min-width: 250px;
}

.sidebar-top {
    height: 82px;
    padding: 0 14px;

    display: flex;
    align-items: center;
    gap: 13px;

    border-bottom: 1px solid var(--border-color);
}

.sidebar-menu-btn {
    width: 44px;
    min-width: 44px;
    height: 44px;

    border: 1px solid var(--border-color);
    border-radius: 12px;

    background: var(--card-background);
    color: var(--text-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: 0.2s ease;
}

.sidebar-menu-btn:hover {
    background: var(--table-row-hover);
    color: var(--primary);
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.sidebar-title span {
    font-size: 19px;
    font-weight: 800;
    color: var(--text-primary);
}

.sidebar-title small {
    margin-top: 2px;
    font-size: 9px;
    color: var(--text-secondary);
}

.sidebar-nav {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 6px;

    padding: 22px 10px;

    overflow-y: auto;
}

.sidebar-nav::-webkit-scrollbar {
    width: 4px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}